[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VancouvR"]
	path = VancouvR
	url = https://github.com/mountainmath/vancouvr
[submodule "cancensus"]
	path = cancensus
	url = https://github.com/mountainmath/cancensus
[submodule "cansim"]
	path = cansim
	url = https://github.com/mountainmath/cansim
[submodule "cmhc"]
	path = cmhc
	url = https://github.com/mountainmath/cmhc
[submodule "tongfen"]
	path = tongfen
	url = https://github.com/mountainmath/tongfen
